body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #fff1e6, #ffffff);
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin-top: 40px;
    font-size: 36px;
    color: #5a2d0c;
}

p {
    font-size: 18px;
    color: #444;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    margin: 30px 0;
}

.product {
    background: white;
    padding: 15px;
    border-radius: 15px;
    width: 250px;
    display: inline-block;
    margin: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.product img {
    width: 100%;
    border-radius: 15px;
}

.product h3 {
    margin: 10px 0 5px;
    color: #5a2d0c;
}

.price {
    color: #b85c00;
    font-weight: bold;
    font-size: 18px;
}

/* زر واتساب */
.whatsapp {
    display: inline-block;
    margin: 30px auto;
    padding: 15px 25px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 30px;
    font-weight: bold;
}

.whatsapp:hover {
    background-color: #1ebe5d;
}
.product .whatsapp {
    display: inline-block;
    margin: 10px auto 0;
    padding: 10px 20px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 25px;
    font-weight: bold;
}

.product .whatsapp:hover {
    background-color: #1ebe5d;
}
